mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			+b.section-title.text-center
				h4 АВТОРИЗАЦИЯ
			+form-wrap
				+input("Телефон или email",'')
				+input("Пароль",'password')
					+b.btn-toggle-type-input--js
						+icon("eye")
				+e.btn.btn.btn-primary(type="submit") Войти
				+policy2
				+e.link.text-secondary Нет аккаунта? 
					a(href='#') Зарегистрироваться
	// end sForm

mixin sForm2()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			+b.section-title.text-center
				h4 РЕГИСТРАЦИЯ
			+form-wrap
				+input("Имя",'text')
				+input("Фамилия",'text').is-invalid
				+input("ИНН",'number').is-invalid
				+input("E-mail",'email')
				+input("Телефон",'tel')
				+input("Формат торговой точки",'select','')
				+policy
				+e.btn.btn.btn-primary(type="submit") Зарегистрироваться
				+policy2
				+e.link.text-secondary Есть аккаунт? 
					a(href='#') Войти
	// end sForm


mixin sForm3()
	// start sForm
	+b.SECTION.sForm.section#sForm3&attributes(attributes)
		.container
			+b.section-title.text-center
				.title Личные данные
			+form-wrap
				+e.text Если ваши данные изменились, пожалуйста, обновите их
				+input("Имя",'text')
				+input("Фамилия",'text').is-invalid
				+input("ИНН",'number').is-invalid
				+input("E-mail",'email')
				+input("Телефон",'tel')
				+input("Формат торговой точки",'select','')
				+e.link-wrap: a(href='#') Изменить пароль
				+in-c()(checked)
					+e.SMALL.text.text-secondary получать новости о скидках и акциях
				+policy()
				+e.btn-wrap: +e.btn.btn.btn-primary(type="submit") Сохранить
				+policy2
	// end sForm