
mixin modal() 
	//  start modals
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h3.ttu Обратный звонок
					p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут

				+input("Ваше Имя")(required)
				+input("Ваше телефон",'tel')(required)
				+input("Ваше телефон",'tel')(required)
				+e.BUTTON.btn.btn(type="submit"  ) submit
				+policy()
				+policy()
	// #modal-call

mixin modal()
	//  start modals
	div(id="modal-info"  style="display: none" )
		+b.modal-win--info
			+e.content.text-center
				+e.title-sm Вы зарегистрированы в клубе CONSO<br>Приятных покупок
			+e.bottom.text-center: +icon('heart')
	// #modal-call
	div(id="modal-success"  style="display: none" )
		+b.modal-win--big
			+e.content.text-center
				+e.title Заказ оформлен!
				p Ваш заказ был успешно оформлен, отследить статус заказа можно в личном кабинете в разделе “Мои заказы”
				+icon('logo-line')
	// #modal-call

	div(id="modal-sizes"  style="display: none" )
		+b.modal-win--md
			+e.title-table Обмеры изделия (см)

			.table-wrap
				
				.popupify-table(style='grid-template-columns: repeat(7, min-content);')
					.popupify-table__th RUS
					.popupify-table__th IT
					.popupify-table__th
						| &Dcy;&lcy;&icy;&ncy;&acy;
						br
						| &icy;&zcy;&dcy;&iecy;&lcy;&icy;&yacy;
					.popupify-table__th
						| &Ocy;&bcy;&khcy;&vcy;&acy;&tcy;
						br
						| &pcy;&ocy;
						br
						| &gcy;&rcy;&ucy;&dcy;&icy;
					.popupify-table__th
						| &Dcy;&lcy;&icy;&ncy;&acy;
						br
						| &rcy;&ucy;&kcy;&acy;&vcy;&acy;
					.popupify-table__separator
					.popupify-table__td.popupify-table__td--bold -
					.popupify-table__separator
					.popupify-table__td.popupify-table__td--bold 40
					.popupify-table__td.popupify-table__td--bold.popupify-table_td_it 38
					.popupify-table__td 43
					.popupify-table__td 90
					.popupify-table__td 66
					.popupify-table__separator
					.popupify-table__td.popupify-table__td--bold 42
					.popupify-table__td.popupify-table__td--bold.popupify-table_td_it 40
					.popupify-table__td 43
					.popupify-table__td 94
					.popupify-table__td 66
					.popupify-table__separator
					.popupify-table__td.popupify-table__td--bold 44
					.popupify-table__td.popupify-table__td--bold.popupify-table_td_it 42
					.popupify-table__td 44
					.popupify-table__td 98
					.popupify-table__td 66
					.popupify-table__separator
					.popupify-table__td.popupify-table__td--bold 46
					.popupify-table__td.popupify-table__td--bold.popupify-table_td_it 44
					.popupify-table__td 44
					.popupify-table__td 102
					.popupify-table__td 66
					.popupify-table__separator
					.popupify-table__td.popupify-table__td--bold 48
					.popupify-table__td.popupify-table__td--bold.popupify-table_td_it 46
					.popupify-table__td 44
					.popupify-table__td 106
					.popupify-table__td 66
					.popupify-table__separator
					.popupify-table__td.popupify-table__td--bold 50
					.popupify-table__td.popupify-table__td--bold.popupify-table_td_it 48
					.popupify-table__td 44
					.popupify-table__td 110
					.popupify-table__td 66

			.table-wrap
				table
					thead
						tr
							th RUS
							th IT
							th Длина изделия
							th Обхват по талии
							th Обхват по бедрам
					tbody
						tr
							td -
							td
							td
							td
							td
						tr
							td 40
							td 38
							td 76
							td 54
							td 82
						tr
							td 42
							td 40
							td 76
							td 58
							td 86
						tr
							td 44
							td 42
							td 76
							td 62
							td 90
						tr
							td 46
							td 44
							td 77
							td 66
							td 94
						tr
							td 48
							td 46
							td 77
							td 70
							td 98


	// end modals