mixin sProductDetailes(data)
	// start sProductDetailes
	+b.SECTION.sProductDetailes.section#sProductDetailes&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sProductDetailes
				
			+e.row.row
	// end sProductDetailes