mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.slider--js
			.swiper-wrapper
				.swiper-slide
					+e.img-wrap
						+img('img/sHeaderBlock.png').img
				.swiper-slide
					+e.img-wrap
						+img('img/sHeaderBlock-b.png').img
				.swiper-slide
					+e.img-wrap
						+img('img/sHeaderBlock.png').img
				.swiper-slide
					+e.img-wrap
						+img('img/sHeaderBlock-b.png').img
			a.section-title(href='#'): .slide-title Новая коллекция
			.swiper-pagination

	// end headerBlock

mixin imgBlock()
	// start headerBlock
	+b.imgBlock.section#imgBlock&attributes(attributes)
		+e.img-wrap: +img('img/sHeaderBlock-b.png').img
		.container
			+b.section-title.text-center
				h3 11.11 — день шоппинга
	// end headerBlock