mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 headerBlock ds dfsdfdsfsd
				+icon('telegram')
				+iconC('telegram')
			.row
						
	// end headerBlock

mixin imgBlock()
	// start headerBlock
	+b.imgBlock.section#imgBlock&attributes(attributes)
		+e.img-wrap: +img('img/sHeaderBlock-b.png').img
		.container
			+b.section-title.text-center
				h3 11.11 — день шоппинга
	// end headerBlock