extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sBestSellers/_sBestSellers.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sSlider/_sSlider.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sNewItems/_sNewItems.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Сотрудничество'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Главная', title)
		+sNewItems3
			+e.part
				h4= title
			+e.part
				.title-small УСЛОВИЯ ДОСТАВКИ
			+e.part.part_bold
				p Cпособы получения заказа в Москве и Московской области
				ul
					li Курьерская доставка
					li Самовывоз из флагманского магазина CONSO
					li Доставка в пункты выдачи СДЭК
			+e.part.part_bold
				p Курьерская доставка с примеркой по Москве и Московской области
				p Стоимость доставки: бесплатно при покупке на сумму более 5 000 рублей. При отказе от покупки и сумме выкупа менее 5 000 рублей вы оплачиваете 500 рублей за доставку.
				p Срок: 1-3 дня
				p Способ оплаты: наличными или картой при получении
				p Детали:
				ul
					li Минимальная сумма заказа – 2 000 рублей.
					li Время доставки – с понедельника по воскресенье, с 9 до 22 часов. Точное время доставки согласовывается с вами заранее.
					li В одном заказе должно быть не более 7 изделий. Вы можете заказать и 14 изделий, но тогда доставка оплачивается дважды.
					li У вас есть возможность предварительной примерки в течение 15 минут. Время примерки не зависит от количества вещей.
			+e.part.part_bold
				p Курьерская доставка с примеркой по Москве и Московской области
				p Стоимость доставки: бесплатно при покупке на сумму более 5 000 рублей. При отказе от покупки и сумме выкупа менее 5 000 рублей вы оплачиваете 500 рублей за доставку.
				p Срок: 1-3 дня
				p Способ оплаты: наличными или картой при получении
				p Детали:
				ul
					li Минимальная сумма заказа – 2 000 рублей.
					li Время доставки – с понедельника по воскресенье, с 9 до 22 часов. Точное время доставки согласовывается с вами заранее.
					li В одном заказе должно быть не более 7 изделий.
					li При частичном или полном отказе от заказа необходимо оплатить стоимость доставки курьеру.
	+parts('footer')