extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sBestSellers/_sBestSellers.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sSlider/_sSlider.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sNewItems/_sNewItems.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Как выбрать идеальное платье'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Главная', 'Новости', title)
		+sNewItems3
			+e.part
				+e.date.text-secondary 22 апреля 2024
				h4= title
			+e.part
				+img('img/article-img.png')
			+e.part
				p Приближается весенний сезон, а это значит, что пора обновлять гардероб. Несомненно одной из самых важных покупок в это время будет платье. А точнее платья, ведь останавливаться на одном никак нельзя: дневное, вечернее, офисное или коктейльное. Для каждого события существуют свои особенные фасон и модель. Важно не только подобрать подходящий наряд под ситуацию, но и выбрать правильное платье для вашей фигуры, чтобы подчеркнуть силуэт и чувствовать себя уверенно и комфортно.<br>Вы найдете огромный выбор различных длин, рукавов, кроя и прочих характеристик, но не каждая из них может подойти именно вам. Даже если вам кажется, что платье - это ненужная и бесполезная часть гардероба, ведь в ней никогда не бывает удобно, стоит дочитать эту статью до конца. Мы расскажем о том, как выбрать правильное платье, которое не только подчеркнет талию или удлинит ноги, но и поможет создать по-настоящему комфортный и стильный образ. Перед вами инструкция, которая поможет найти то самое идеальное платье.
				.title-p: p Типы, фасоны и крой
				p Чтобы платье хорошо сидела, нужно выбрать не только правильный размер, но и подходящий фасон и крой. В мире моды существует огромное количество различных типов, фасонов и кроев платьев, каждое из которых обладает своей уникальной особенностью.<br>При выборе своего идеального платья не стоит упрощать и сводить весь процесс к выявлению последних модных тенденций, пролистывая ленты социальных сетей. То, что хорошо смотрится на Белле Хадид, не обязательно должно подходить вам. Разные типы фигур, длина ног и, например, цвет глаз хотят для себя разных вещей. Подчеркните свою индивидуальную красоту вместо того, чтобы пытаться повторить за звездами. А чтобы сделать это грамотно, нужно разбираться в таких тонкостях дела как фасоны и крой.<br>Один из самых распространенных типов платье по силуэтам - прямое. Это классический выбор девушек по всему миру. Универсальность такого фасона заключается в том, что его можно носить повседневно или, украшенное и дополненное красивыми накидками, на торжественные мероприятия. Прямое платье может быть длинным или коротким, иметь различные рукава и форму горловины - это стильный конструктор, с помощью которого дизайнеры создают шедевры. Такое платье называют футляром, в моду его ввела несравненная Коко Шанель, которая своими руками создавала новый образ современной женщины. Именно этот фасон позволяет выгодно подчеркнуть фигуру, сделав акцент на талии. Дополнить такой образ можно поясом и яркими аксессуарами, контрастирующими с основным цветом наряда.
	+parts('footer')