extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sBestSellers/_sBestSellers.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sSlider/_sSlider.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sProductDetailes/_sProductDetailes.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Утепленная куртка'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		.no-scroll: +page-head2('Главная', 'Одежда', 'Верхняя одежда', 'Демисезонные куртки', title)
		+sProductDetailes2
		+sSliderS1('Весь образ')
		+sSliderS('Вы недавно смотрели')
	+parts('footer')