.menu {
  padding-bottom: rem(12);
	@include media-breakpoint-down(sm) {
    &.menu_selected {
      .menu-item a {
        color: $secondary;
      }
      .menu-item-last.menu-item-has-children.active a {
        color: $black;
      }
      .menu-item-last.menu-item-has-children.active > a{
        font-weight: 700;
      }
    }
  }

	@include media-breakpoint-up(sm) {
    padding-bottom: 0;
		display: flex;
		text-align: center;
		@include roww(20px);
		flex-wrap: wrap;
    justify-content: center;
    a .icon {
      display: none;
    }
	}
	@include media-breakpoint-up(xl) {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	li {
		padding: 0;
	}
  &>.menu-item {
    &:not(:last-child) {
      @include media-breakpoint-down(sm) {
        border-bottom: 1px solid #DCD7D3;
      }
    }
  }
	a{
    text-wrap: nowrap;
		display: block;
		padding: rem(20) calc(var(--bs-gutter-x) / 2);
    // padding-left: 0;
	}
}



.toggle-menu-mobile {
	--h: #{em(2)};
	--color: #{$primary};
	--position: calc(var(--h) * 1.5);
	&.on span {
		--color: #A9784F;
    @include media-breakpoint-down(sm) {
      --color: transparent;
      &:after,
      &:before {
        --color: black;
      }
    }
	}

	&.on  { 
    @include media-breakpoint-down(sm) {
		--position: 0; 
		--rotate: 45deg;
    }
	}
	display: block;
	height: calc(var(--h)* 12);
	position: relative; 
	font-size: 32px;
	width: 1em;
	cursor: pointer;
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
    color: inherit;
	} 
	span {
		@include a-cent(y);
		@include a-cent(x);
		display: block;
	}

	span:before { 
		top: var(--position);
		transform: rotate3d(0,0,1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0,0,1, calc(-1 * var(--rotate,0)));
	}
	span,
	span:after,
	span:before {
		// width: 32px;
		width: 18px;
		height: 1px;
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden; 
		transform-origin: 50% 50%;
	} 
}


@include media-breakpoint-down(xl) {

	@include media-breakpoint-up(sm) {

    .menu-mobile:not(.active){
      transform: translateY(-200%);
    }
  }

	.menu-mobile {
		position: fixed !important;
		z-index: 999;
		// max-width: 85%;
		// height: calc(var(--vh, 1vh) * 100);
		// height: 100vh;
		width: 100%;
		top: 65px;
		// left: 0;
		right: 0;
		background-color: $body-bg;
		&:not(.active){
			transform: translateY(-150%);
			--opacity: 0;
			.toggle-menu-mobile{
				opacity: 0;
			}
		}
		@include mt(.6s);
		will-change: transform;

		
		.toggle-menu-mobile { 
			// margin-left: -15%;
			position: absolute; 
			// left: 0;
			// right: auto;
			// color: #FFF;
			// top: 10px;
      bottom: 0;
      left: 50%;
			z-index: 9999;

			
		}
		&__inner {
			padding: calc(env(safe-area-inset-top, 0px) + #{rem(20)}) 0 calc(env(safe-area-inset-bottom, 0px) + #{rem(20)});
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: calc(100dvh - 64px);
      @include media-breakpoint-up(sm) {
        min-height: 100px;
        height: auto;
      }
     
      padding-right: rem(16); 
      padding-left: rem(16);
			// @include mt(.3s);
			// transition-delay: .4s;
			// opacity: var(--opacity);
		}

		&.active { 
			.toggle-menu-mobile {
				opacity: 1;
			}
		}


		ul {
			position: relative;
		}

		li {
			display: block;
			margin: 0;
			border-top: 1px solid rgba(255, 255, 255, .13);

			a {
				// font-size: 16px;

				padding: 10px;
        padding-left: 0;
				display: block;
        @include media-breakpoint-down(sm) {
          padding: rem(7) 0;
        }

			}
		}
	}
}

@include media-breakpoint-up(sm) {
  // .menu-item-has-children {
  //   pointer-events: none;
  // }
}
@include media-breakpoint-down(sm) {
  .menu-item-has-children {
    // position: relative;
    a {
      display: flex !important;
      justify-content: space-between;
      & > .icon {
        fill: $black;
        transform: rotate(180deg);
        @include mt;
      }
    }
    @include mt;

    &.active {

      & > a > .icon {
        transform: rotate(0deg);
      }
      & > .sub-menu {
        margin-bottom: rem(5);
        --op: 1;
        transition: all 0.3s ease-in;
        visibility: visible;
        @include media-breakpoint-down(xl) {
          position: relative;
        }
      }
    }
  }
}

.menu-item-has-children .sub-menu {
	// overflow-x: hidden;
	// overflow-y: auto;
	opacity: var(--op, 0);
	--op: 0;
	width: 100%;
  padding-left: rem(24);
	// background: $gray-600;
	visibility: hidden;
	position: absolute;
	@include mt(0.1s);

	a {
		padding: rem(5) 0 rem(5) rem(3);
    line-height: 125%;
	}

	.menu-item:first-child a {
		@include media-breakpoint-down(xl) {
			padding-top: 0;
		}
	}
}

.menu-item-has-children .sub-menu .menu-item-last {
	ul {
    padding-left: rem(24);
	}

	&__link {
		a {
			opacity: 0.9;
      font-size: rem(16);
			@include media-breakpoint-up(xl) {
				font-size: rem(16);
				color: $gray-700;
				opacity: 1;
			}
		}
		&:hover a {
			@include media-breakpoint-up(xl) {
				color: $primary;
			}
		}
	}
}