mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-xl-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col-auto.d-xl-none
					.wrap
						+menu-toggle()
						.icon-wrap: +icon('search')
				+e.col.col-auto.col-xl-auto.order-xl-0
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+b.toggle-menu-mobile--js.d-xl-none
								+icon('arrow-top')
							+mnu()
							.additional-icons.d-sm-none: +iconsGroup2
				.col-auto.col-sm-auto
					+e.logo(href="/"): +img('img/svg/logo.svg')
				.col-auto.col-xl-auto
					.d-none.d-xl-inline-block: +search()
					+iconsGroup
	// end top-nav

mixin iconsGroup
	+b.icons-group
		+e.icon-wrap(href='#').d-none.d-sm-inline-block
			+icon('heart-outlined')
			.span 10
		+e.icon-wrap(href='#')
			+icon('cart')
			.span 2
		+e.icon-wrap(href='#')
			+icon('user')


mixin iconsGroup2
	+b.icons-group--full
		+e.wrap(href='#')
			+e.icon-wrap
				+icon('user')
			.text Войти в профиль
		+e.wrap(href='#')
			+e.icon-wrap
				+icon('cart')
				.span 2
			.text Корзина
		+e.wrap(href='#')
			+e.icon-wrap
				+icon('heart-outlined')
				.span 10
			.text Избранное