.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	.icon {
		font-size: rem(30);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.sizeBlock {
	display: flex;
	justify-content: space-between;

	&__item {
		@include media-breakpoint-up(sm) {
			font-size: rem(18);
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	display: flex;
	position: relative;
	overflow: hidden;
	// width: rem(112);
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(32);
		width: rem(56);
	}
	&__btn {
		color: #b1b1b1;
		height: rem(32);
		position: relative;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(28);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.swiper-button-hand {
	position: static;
	--swiperArrowSize: 24px;
	--swiperColorDef: #b07e56;
	background-color: transparent;
	border: none;

	.icon {
		fill: none;
		font-size: rem(28);
		stroke-width: 2px;
		stroke: var(--swiperColorDef);
	}
}
.swiper-button-disabled {
	--swiperColorDef: #b1b1b1;
}

.arrow-wrap {
	display: flex;
	gap: rem(10);
}

.search-block {
	position: relative;

	input {
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(8);
		padding-bottom: rem(8);
		background: #ebebeb;
		border-radius: rem(4);
	}
	button {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
	&--main {
		.icon {
			font-size: rem(20);
		}
		button {
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	&--big {
		margin-right: 0 !important;
		width: 100% !important;
		padding-top: rem(28);
		padding-bottom: rem(32);

		@include media-breakpoint-up(sm) {
			padding-top: rem(44);
			padding-bottom: rem(36);
		}
		form {
			display: flex;
			align-items: center;
		}
		button {
			position: static;
		}
		input {
			padding-left: 0;
			font-size: rem(24);
			background: transparent;
			&::placeholder {
				color: #dbd8d3;
			}
			&:focus ~ button .icon {
				stroke: $brown;
			}
		}
		.icon {
			fill: none;
			stroke-width: 1px;
			stroke: #dbd8d3;
			@include mt;
		}
	}

  &__res-card {
    @include media-breakpoint-down(xl) {
      display: none;
    }
    padding: rem(16);
    background: white;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.06);
    height: rem(156);
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
		opacity: 0;
    z-index: 2;
    visibility: hidden;
    @include mt;
		&.active {
			opacity: 1;
      visibility: visible;
		}
    li {
      margin-bottom: rem(0);
    }

    ul {
      // display: unset !important;
      list-style: none;
      a {
        text-transform: none !important;
        font-size: 14px !important;
      }
    }
  }

  .button-clean {
    position: absolute;
    right: rem(5);
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    cursor:pointer;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    padding: rem(4);

    .icon {
      font-size: rem(12);
      transform: translateY(-1px);
    }
    @include media-breakpoint-down(xl) {
      display: none;
    }
  }
  .custom-scroll {
    height: calc(100%);
  }
}

.breadcrumb-item {
	width: auto;
	// margin-right: rem(32);
}
.no-scroll {
	.swiper-wrapper {
		flex-wrap: wrap;
		overflow: hidden;
		transform: none !important;
	}
	.breadcrumb-slider--js {
		overflow: hidden;
		touch-action: none;
	}
}

.breadcrumb-slider--js {
	.breadcrumb-item {
		font-size: rem(14);
		width: auto;
		margin-right: rem(10);
		a {
			color: $secondary;
		}
		// &:last-child a{
		// 	color: $black;
		// }
	}
	ol {
		padding-left: 0;
	}
}

.breadcrumb-item + .breadcrumb-item:before {
	content: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.413086 9.99958C0.632419 9.47691 0.844753 8.97291 1.05009 8.48758C1.26009 8.00225 1.50275 7.44225 1.77809 6.80758L3.25509 3.33558C3.53975 2.67291 3.78942 2.08958 4.00409 1.58558C4.22342 1.07691 4.44742 0.554245 4.67609 0.0175781H5.82409C5.67009 0.376912 5.52075 0.726912 5.37609 1.06758C5.23142 1.40825 5.07975 1.76291 4.92109 2.13158C4.76242 2.50025 4.58509 2.91091 4.38909 3.36358L2.91909 6.80758C2.64842 7.44225 2.40809 8.00458 2.19809 8.49458C1.99275 8.98458 1.78042 9.48625 1.56109 9.99958H0.413086Z' fill='%23B9AEA8' /%3E%3C/svg%3E");
	margin-right: rem(8);
}

.product-card {
	display: block;
	&__img-wrap {
		aspect-ratio: 490/819;
		position: relative;
		margin-bottom: rem(8);
	}

	.icon {
		fill: $gray-500;
		position: absolute;
		right: rem(8);
		top: rem(8);
		cursor: pointer;
		z-index: 5;
		@include media-breakpoint-up(md) {
			right: rem(20);
			top: rem(20);
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.colors {
		display: flex;
		justify-content: center;
		gap: rem(4);
		margin-top: rem(6);
		margin-bottom: rem(6);
	}

	.span {
		--point-width: 8px;
		width: var(--point-width);
		height: var(--point-width);
		border-radius: 100%;
		background: black;
	}

	.price {
		padding: rem(6);
		cursor: pointer;
		display: inline-block;
		color: $gray-700;
	}

	.have-price {
		span {
			padding-left: rem(10);
			text-decoration: line-through;
			color: #b1b1b1;
		}
	}

	&__btn {
		margin-top: rem(6);
		@include media-breakpoint-down(md) {
		}
		@include media-breakpoint-down(sm) {
			width: 100%;
			--bs-btn-padding-x: #{rem(10)};
		}
	}

	&__slider {
		position: relative;
		overflow: hidden;
	}

	.swiper-pagination {
		position: absolute;
		bottom: 16px;
		z-index: 5;
		left: 10px;
		max-width: calc(100% - 20px);
		display: flex;
	}

	.swiper-pagination-bullet {
		flex-grow: 1;
		margin-left: 0;
		margin-right: 0;
		height: 2px;
		opacity: 0.25;
		background-color: $black;
	}

	.swiper-pagination-bullet-active,
	.swiper-pagination-bullet:hover {
		opacity: 1;
	}
}

.product-card-item {
	&__img-wrap {
		aspect-ratio: 440/560;
		position: relative;
		margin-bottom: rem(12);
		@include media-breakpoint-up(xl) {
			margin-bottom: rem(24);
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	h5 {
		font-weight: 400;
	}
}

.profile-nav {
	li {
		max-width: rem(234);
		border-radius: rem(5);
	}
	.current {
		background: #ebebeb;
	}
	a {
		display: block;
		padding: rem(8);
		text-wrap: nowrap;
		@include media-breakpoint-up(lg) {
			padding: rem(8) rem(16);
		}
	}

	&.horizontal {
		@include media-breakpoint-down(lg) {
			display: flex;
		}
		@include media-breakpoint-only(sm) {
			justify-content: center;
		}
		@include media-breakpoint-only(md) {
			justify-content: center;
		}
	}
}

.cards-pagination {
	&__text {
		color: #b9aea8;
		margin-bottom: rem(16);
	}
	&__btn {
		margin-top: rem(16);
		width: 100%;
		@include media-breakpoint-up(sm) {
			width: auto;
			--bs-btn-padding-x: #{rem(127)};
		}
	}
}

.page-head {
	--margin: 24px;
	@include media-breakpoint-up(md) {
		--margin: 48px;
	}
	ol {
		margin-bottom: 0;
	}

	margin-bottom: var(--margin);
	margin-top: var(--margin);

	.back {
		display: inline;
		width: max-content;
		margin-right: rem(48);
		.icon {
			padding-right: rem(10);
			fill: #b9aea8;
			font-size: rem(28);
		}
		font-size: rem(14);
	}
	.swiper {
		margin-left: 0;
	}

	.container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		row-gap: rem(12);
	}
}

ul.page-numbers {
	display: flex;
	gap: rem(10);
	justify-content: center;
	list-style-type: none;
	.page-numbers:not(.current) {
		color: #b9aea8;
	}
	.page-numbers {
		padding: rem(8) rem(10);
		font-size: rem(14);
		font-weight: 600;
		&:hover {
			color: $black;
		}
	}
}

.have-questions {
	@include media-breakpoint-up(xl) {
		max-width: max-content;
		margin-left: auto;
	}
	&__title {
		margin-bottom: rem(20);
		text-align: center;
		@include media-breakpoint-up(lg) {
			text-align: right;
		}
	}

	.icon {
		fill: $brown-dark;
	}

	ul {
		text-align: center;
		@include media-breakpoint-up(lg) {
			text-align: left;
			max-width: min-content;
			margin-left: auto;
		}
		@include media-breakpoint-up(xl) {
			max-width: none;
			margin-left: 0;
		}
	}
	a {
		display: inline-flex;
		align-items: center;
		gap: rem(6);
	}

	li {
		margin-bottom: rem(12);
	}
}

.total-price {
	&:not(.total-price--no-bg) {
		background: #ebebeb;
		padding: rem(32) rem(24);
	}
	border-radius: rem(5);
	display: flex;
	flex-direction: column;
	gap: rem(24);

	&__item {
		display: flex;
		justify-content: space-between;
		@include media-breakpoint-up(md) {
			font-size: rem(18);
		}
	}

	&__dash {
		border-bottom: 1px dashed #dbd8d3;
		flex: 1 0;
		margin: 0 0.4em;
		height: rem(20);
	}
	&__price {
		color: $brown-dark;
	}

	.text-secondary {
		font-size: rem(14);
		line-height: 129%;
		margin-top: rem(12);
	}

	&__btn {
		width: 100%;
		--bs-btn-padding-x: #{rem(10)};
	}
}

.personal-manager {
	display: flex;
	align-items: center;
	gap: rem(12);
	border-radius: rem(8);
	background: #f7f7f7;
	max-width: rem(288);
	margin: auto;

	padding: rem(16);
	@include media-breakpoint-up(lg) {
		padding: rem(24) rem(16);

		flex-direction: column;
		gap: rem(10);

		max-width: rem(225);
		margin-right: 0;
	}

	img {
		height: rem(64);
		width: rem(64);
		aspect-ratio: 1/1;
		border-radius: 50%;
		flex-shrink: 0;
	}

	.small {
		color: #737373;
	}

	ul {
		list-style-type: none;
		margin-bottom: 0;
		margin-top: rem(4);
		@include media-breakpoint-up(md) {
			margin-top: rem(12);
		}
	}

	&__descr {
		@include media-breakpoint-up(md) {
			text-align: center;
		}
	}

	a {
		color: $secondary;
	}
}

.cart-product {
	&--center {
		align-items: center;
	}
	display: flex;
	gap: rem(16);
	@include media-breakpoint-up(md) {
		gap: rem(32);
	}
	&__title {
		line-height: 125%;
		letter-spacing: -0.02em;
	}

	.img {
		width: rem(75);
	}
	.span {
		--point-width: 8px;
		width: var(--point-width);
		height: var(--point-width);
		border-radius: 100%;
		display: inline-block;
		margin-left: rem(6);
	}
	&__descr {
		display: flex;
		flex-direction: column;
		gap: rem(6);
	}

	&__btns {
		margin-top: rem(-4);
		a {
			display: inline-block;
			font-size: rem(12);
		}
		.icon {
			margin-right: rem(4);
			transform: translateY(-10%);
		}
		.icon-heart {
			font-size: rem(14);
		}
	}
	&__link {
		display: inline-block;
		&:not(:last-child) {
			margin-right: rem(12);
		}
	}
}

.cart-item-product {
	display: grid;
	grid-template-columns: 75px 1fr;
	column-gap: rem(16);
	margin-bottom: rem(24);
	@include media-breakpoint-up(sm) {
		display: flex;
		justify-content: space-between;
	}

	.cart-product {
		grid-column: 1/-1;
	}
	ul {
		grid-column: 2/3;
	}
	li {
		margin-bottom: rem(4);
	}

	&__sum {
		font-size: rem(24);
		line-height: 133%;
		grid-column: 1/-1;
		justify-self: center;
	}
}

.tabs {
	&__btn {
		width: max-content;
		&.active {
			font-weight: 500;
		}
	}
	&__content {
		padding: rem(24);
	}

	&__caption {
		// margin-bottom: rem(32);
		@include media-breakpoint-up(sm) {
			justify-content: center;
		}
	}
}

.group-orders {
	.dd-head-js {
		font-size: rem(14);
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: rem(56);
		}

		&.active {
			.text:after {
				transform: rotate(0deg);
			}
		}
	}

	.text {
		color: #b07e56;
		position: relative;
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
		display: flex;
		gap: rem(10);
		justify-content: space-between;
		align-items: center;

		@include media-breakpoint-up(sm) {
			flex-direction: row-reverse;
		}

		&:after {
			@include mt;
			content: "";
			display: inline-block;
			width: rem(24);
			height: rem(24);
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 9.82419L12 15.1004L17 9.82419L16.1246 8.90039L12 13.2528L7.87544 8.90039L7 9.82419Z' fill='%23B07E56' /%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			margin-left: auto;
			vertical-align: middle;
			transform: rotate(180deg);
		}
	}

	&__head {
		cursor: pointer;
		padding: rem(15) 0;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@include media-breakpoint-up(sm) {
			flex-wrap: nowrap;
			justify-content: space-between;
		}
		gap: rem(6);
		margin-bottom: rem(24);
	}

	&__sub {
		@include media-breakpoint-down(sm) {
			order: 2;
		}
	}
	.status {
		border-radius: rem(15);
		padding: rem(4) rem(8);
		@include media-breakpoint-up(sm) {
			padding: rem(6) rem(12);
		}
		color: $brown-dark;
		background-color: rgba($brown-dark, 0.15);

		&_success {
			color: $success;
			background-color: rgba($success, 0.15);
		}
		&_danger {
			color: $danger;
			background-color: rgba($danger, 0.15);
		}
	}
}

.search-results {
	@include media-breakpoint-down(sm) {
		.container {
			display: flex;
			flex-direction: column;
			// flex-grow: 1;
			height: 100%;
			height: calc(100dvh - 84px);
			// overflow: hidden;

			.search-results__row-search {
				display: flex;
				// flex-direction: column;
				// flex-grow: 1;
				// height: 100%;
				// height: auto;
				position: relative;
				overflow-x: hidden;
				overflow-y: auto;
				.col-sm-9 {
					position: relative;
					overflow-y: auto;
					.search-results__row-results {
						height: 100%;
					}
					// flex-grow: 1;
				}
			}
		}
	}
}
