mixin sCart(data)
	// start sCart
	+b.SECTION.sCart.section#sCart&attributes(attributes)
		.container
			+b.section-title
				+e.title КОРЗИНА
			+e.row.row
				+e.col.col-lg-9
					+e.header
						+e.title-item Товар
						+e.title-item.title-item_price.d-none.d-sm-block Цена
						+e.title-wrap.d-none.d-xl-flex
							+e.title-item Размер
							+e.title-item Кол-во
							+e.title-item Сумма
					+e.item
						+cartProduct
						+e.price.d-none.d-sm-block 13 990 ₽
						+e.sizes
							+sizeblock('40')
							+sizeblock('42')
							+sizeblock('44')
					+e.item
						+cartProduct
						+e.price.d-none.d-sm-block 13 990 ₽
						+e.sizes
							+sizeblock('40')
							+sizeblock('42')
							+sizeblock('44')
							+sizeblock('46')
				+e.col.col-lg-3
					+totalPrice('Перейти к оформлению')
	// end sCart
